body {
	background-color: #eee;
}

body, input[type="text"], button {
	font-family: Helvetica, sans-serif;
	color: #555;
}

#wrap {
	margin: 250px 0;
	text-align: center;
}

h1#logo {
	color: #bbb;
	word-spacing: -0.1em;
	letter-spacing: -0.04em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8),
				 0 -1px 0 rgba(0, 0, 0, 0.3);
	margin: 0 0 6px 0;
	font-weight: normal;
}

input[type="text"], button {
	height: 27px;
	border: 1px #ccc solid;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 1px 6px;
	font-size: .8em;
	margin: 0 0 5px 0;
}

input[type="text"] {
	width: 150px;
}

label {
	font-size: 0.8em;
}

button {
	width: 55px;
	background-color: #eee;
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

button:active {
	background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
}

